*{
    margin: 0 auto;
    font-family: Calibri, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5f9ea0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 300px;
}

#title {
    font-size: 50px;
    color: #223c93;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    max-width: 600px;
    padding: 0 20px;
}

.form label{
    color: #223c93;
    font-size: 20px;
    margin: 5px 0;    
}

.input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #bdd6f6e4; 
    box-shadow: black 5px 5px;   
}

.button {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #bdd6f6e4;
    font-size: 30px;
    color: #223c93;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
    box-shadow: black 5px 5px;
}

.result {
    background-color: #07e198;
    max-width: 600px;
    padding: 20px 28px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #2c9737;
    box-shadow: 10px 5px #117921;
    margin-bottom: 20px;
    user-select: none;
    transition: transform 0.8s;
}
.hide{
    display: none;
}

.result:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}

.result span {
    color:#2a2a2a;
    font-weight: 400;
    padding: 5px;
}

.text-result {
    font-size: 30px;
    font-weight: bold;
}

.info{
    position: fixed;
    right: 10px;
    bottom: 12px;
}

.info-img{
    width: 66px;
    height: 66px;
}

.tooltip{
    color:#f7f9f8;
    background-color: #2a2a2a;
    padding: 10px 8px;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    display: none;
}

.info:hover .tooltip {
    display: inline;
}

.sobre {
    max-width: 620px;
    padding: 24px 14px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.sobre p{
    margin-bottom: 8px;
    line-height: 150%;
}

.button-calcular{
    border: 2px solid black;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
